

* {

  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;

  
}

body {
  background-color: #77B1A9;
  color: #333;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
